* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --font-family-primary: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body * {
  font-family: var(--font-family-primary);
  color: #121212;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(174, 238, 225, 1) 0%,
    rgba(148, 160, 233, 1) 100%
  );
}

#app {
  max-width: 50rem;
  padding: 2.4rem 3.2rem 3.2rem;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

header h1 {
  font-size: 2rem;
}

header .search {
  display: flex;
  align-items: center;
}

header .search input {
  padding: 1rem;
  border: none;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  background: #f4f4f4;
}

header .search button {
  border: none;
  padding: 1rem 1.2rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background: rgb(9, 172, 232);
  cursor: pointer;
}

/* Table Style */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table thead {
  background: #051923;
}

table thead th {
  padding: 1rem;
  font-weight: normal;
  color: #fff;
}

table thead th:first-child {
  border-top-left-radius: 0.4rem;
}

table thead th:last-child {
  border-top-right-radius: 0.4rem;
}

table tbody tr {
  background: rgba(238, 238, 238, 0.34);
}

table tbody td {
  padding: 1rem;
}

table tbody img {
  width: 10rem;
}

table tbody button {
  background: none;
  border: none;
  font-size: 2.4rem;
  display: flex;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

table tbody button:hover {
  color: #d62828;
}
